<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evented">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Evented"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".events.ui.CreateEventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.EventDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.PeriodEventsListActivity" />
        <activity
            android:name=".tickets.TicketDetailsActivity"
            android:label="@string/ticket_details"
            android:launchMode="singleTask" />
        <activity android:name=".ui.TicketsListActivity" />
        <activity
            android:name=".ui.MyEventListActivity"
            android:label="@string/going" />
        <activity
            android:name=".ui.VerifyTicketActivity"
            android:label="@string/verify_tickets_title"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.EventManagerActivity"
            android:label="@string/manage_events" />
    </application>

</manifest>